@font-face {
  font-family: "iran-sansX";
  src: url("/src/assests/fonts/IRANSans-web.woff") format("woff");
}
* {
  font-family: "iran-sansX";
}
.footer__container {
  padding: 20px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #ebe8e8;
}
.footer__list {
  display: flex;
  flex-direction: row;
  /* flex-direction: row; */
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
  direction: rtl;
  /* width: 70%; */
}
.footer__list__container {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer__list__title {
  font-size: 16px;
}
.footer__list__item {
  color: #444;
  font-size: 14px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.footer__menu__logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.footer__menu__container {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
}
.footer__menu__container li {
  list-style: none;
  padding-left: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #444;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons p {
  font-size: 12px;
}
.icons__item img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
@media screen and (min-width: 768px) {
  .footer__container {
  }
  .footer__list {
    flex-direction: row;
  }
  .icons {
    flex-direction: row;
    align-items: center;
  }
  .footer__container {
    padding: 20px 120px;
  }
  .icons p {
    font-size: 15px;
  }
}
